/* takes priority over paper.css */
h1 {
  margin: 0 0 0.5em 0;
}

header {
  width: 100%;
}

header a {
  text-decoration: none;
  color: black;
  background-image: none;
}

header img {
  display: inline-block;
  width: 4rem;
  margin: 0em 1em;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  min-height: 50vh;
}

footer {
  width: 100%;
}

footer h4 {
  margin-bottom: 0.25em;
  margin-top: 0;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer li::before {
  content: none !important;
}

.product {
  margin: 0.6em 1em 0.6em 1em;
  display: inline-block;
}

.product a {
  text-decoration: none;
  color: var(--primary-text); /* paper.css */
}

.product a:hover {
  text-decoration: underline;
}

.product h3,
.product p {
  margin: 0;
}

.product-text {
  padding: 0 0.25em;
}

@media all and (max-width: 600px) and (orientation:portrait) {
  #logo {
    display: none;
  }
}
