@*
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Product>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
*@

<!DOCTYPE html>
<html lang="da">
<head>
    <link rel="stylesheet" href="https://unpkg.com/papercss@1.9.2/dist/paper.min.css" />
</head>
<body>
    <header></header>
    <br>
    <br>

    <main class="md-8" style="margin: auto;">
        <div class="row">
            <img src="https://placehold.co/400x200" class="col-7 col">
            <div class="col-5 col">
                <h2 class="margin-none">Airforce</h2>
                <h3 class="margin-none"><small>300 DKK</small></h3>

                <br>
                <img src="https://placehold.co/100x80" style="display: inline-block">
                <img src="https://placehold.co/100x80" style="display: inline-block">

                <br><br>

                <label>Vælg størrelse</label>
                <select>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                </select>

                <br>

                <button>Add to cart</button>
            </div>
        </div>
    </main>
</body>
</html>