@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Site>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<html lang="da">
  <head>
    @await Html.PartialAsync("Head")
  </head>
  <body>
    @await Html.PartialAsync("Header")

    @foreach (var product in Model.ChildrenOfType("products")!.First().ChildrenOfType("productItem") ?? [])
    {
       @await Html.PartialAsync("Product", product);
    }

    @await Html.PartialAsync("Footer")
  </body>
</html>