@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<footer class="md-8 row text-center margin-top-large">
    <div class="sm-4 col">
        <h4><b>SoleMates</b></h4>
        <ul>
            <li><a href="#">Om SoleMates</a></li>
            <li><a href="#">Presse</a></li>
            <li><a href="#">Karriere</a></li>
        </ul>
    </div>

    <div class="sm-4 col">
        <h4><b>Kundeservice</b></h4>
        <ul>
            <li><a href="#">Levering</a></li>
            <li><a href="#">Returnering</a></li>
            <li><a href="#">Handelsbetingelser</a></li>
            <li><a href="#">Privatlivspolitik</a></li>
        </ul>
    </div>

    <div class="sm-4 col">
        <h4><b>Social</b></h4>
        <ul>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
        </ul>
    </div>
</footer>