@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/paper.css" />
<link rel="stylesheet" href="/style.css" />
<link rel="icon" type="image/x-icon" href="/favicon.png">
<title>@Model.Name.Replace('_', ' ') | SoleMates</title>