@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<header class="text-center paper margin-top-none padding-small margin-bottom-large">
    <h1 class="margin-bottom-small">SoleMates</h1>
</header>