@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<header class="row text-center flex-center paper margin-top-none padding-small margin-bottom-large">
  <a href="/">
    <img id="logo" src="~/images/footprint.svg" class="no-border"/>
  </a>
  <a href="/">
    <h1 class="margin-bottom-small">SoleMates</h1>
  </a>
  <a href="/cart">
    <img src="~/images/cart.svg" class="no-border" onclick="toggleCart()" />
  </a>
</header>