@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<header class="row text-center flex-center paper margin-top-none padding-small margin-bottom-large">
  <a href="/" aria-label="Homepage">
    <img id="logo" src="~/images/footprint.svg" class="no-border" alt="SoleMates logo" width="80" height="80"/>
  </a>
  <a href="/" aria-label="Homepage">
    <h1 class="margin-bottom-small">SoleMates</h1>
  </a>
  <a href="/cart" aria-label="Cart page">
    <img src="~/images/cart.svg" class="no-border" alt="Cart icon" width="80" height="80"/>
  </a>
</header>

