@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@model IPublishedContent

@{
    var preview = (string)Model.Value("preview")!;
    preview ??= "https://placehold.co/320x200";
}

<div class="product">
  <img src="@preview" />
    <div class="padding-left-small">
    <h3 class="margin-none">@Model.Name.Replace('_', ' ')</h3>
    <p>@Model.Value("price") DKK</p>
  </div>
</div>